<div class="card">
  <div class="card-header bg-secondary">
    <h6 class="pl-2 text-light">
      {{user.name}} posted on {{format_date date_created}}
    </h6>
    
  </div>
  <div class="card-body">
    <div class="container d-flex flex-row justify-content-between">
      <h5 class="card-title pl-2">{{title}}</h5>
    </div>
    <hr>
    <p class="card-text pl-3">{{text}}</p>
  </div>
</div>
<br>

{{!-- Comment Card Start --}}
<div class="container px-4">
  <div class="card">
    <div class="card-header bg-secondary">
      <h6 class="pl-2 text-light"></h6>
    </div>
    <div class="card-body">
      <div class="container d-flex flex-row justify-content-between">
        <h5 class="card-title pl-2">Add a Comment:</h5>
      </div>

      <form class="new-comment-form">
        <div class="form-group">
          <label for="FormControlTextarea1"></label>
          <textarea class="form-control" id="comment-text" rows="3" placeholder="What do you think about this post?"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Post Comment!</button>
      </form>
    </div>
  </div>
</div>
  

<br>

{{!-- Add existing comments --}}

{{#if comments.length}}
{{#each comments as |comment|}}

<div class="container px-5">
  <div class="card">
    <div class="card-header bg-secondary">
      <h6 class="pl-2 text-light">
        {{comment.user.name}} commented on {{format_date comment.date_created}}
      </h6>
      
    </div>
    <div class="card-body">
      <p class="card-text pl-3">{{comment.text}}</p>
    </div>
  </div>
</div>

<br>
{{/each}}
{{/if}}



<script src="/js/post.js"></script>